<li>
    <p>Site Url:</p> <span>{{{url}}}</span><br>
    <p>Title:</p> <span>{{title}}</span><br>
    <p>Description:</p> <span>{{description}}</span><br>
    {{#if image}}
    <img src="{{image}}" alt="logo img">
    {{/if}}
    <button></button>
</li>